/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$open-sans: "Open Sans", sans-serif;

$jet: #353535;
$white: #FFFFFF;
$mint-leaf: #66A378;

$body-bg: $white;
$body-color: $jet;
$link-color: $mint-leaf;

$grid-margin-width: 290px !default;

/*-- scss:rules --*/
h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 1.05rem;
}

p {
  font-size: 0.95rem;
}